.buildChart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buildChart button {
  width: 300px;
  height: 45px;
  background-color: #59abdb;
  color: white;
  border-radius: 7px;
  font-size: 1.4rem;
  border: 1px solid white;
  cursor: pointer;
}
.buildChart .radio-button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.buildChart .back-button-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 375px;
  margin-top: 20px;
}
.buildChart .back-button {
  width: 100px;
  margin-right: 36px;
  cursor: pointer;
}
.buildChart .input {
  width: 300px;
  height: 30px;
  font-size: 1.4rem;
  background-color: white;
  color: #59abdb;
  margin-bottom: 20px;
  text-align: center;
}
.buildChart .option {
  text-align: center;
}
.buildChart .input-container {
  margin-top: 50px;
}
.buildChart .radio-label {
  font-size: 1.4rem;
  margin: 0 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.buildChart .radio-button {
  font-size: 5rem;
  margin-bottom: 20px;
  cursor: pointer;
}
.buildChart .radio-div {
  width: 100px;
  display: flex;
}
.buildChart ::placeholder {
  color: #59abdb;
}
.buildChart .eligible-products-container {
  margin-top: 10px;
  width: 300px;
  text-align: center;
}
.buildChart .eligible-products-container p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 1.4rem;
  margin: 20px 0;
}
.buildChart .eligible-products-container li {
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
.buildChart .build-message {
  text-align: center;
}
.eligible-products-container-loading {
  display: flex;
  justify-content: center;
}
