/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #59abdb;
  font-size: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  justify-content: center;
}
nav .navLink {
  text-decoration: none;
  color: black;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.login-container .login {
  display: flex;
  flex-direction: column;
}
.login-container h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  font-size: 1.6rem;
}
.login-container p {
  font-size: 1.6rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.login-container .login-input {
  width: 300px;
  height: 30px;
  font-size: 1.4rem;
  background-color: white;
  color: #59abdb;
  margin-bottom: 20px;
}
.login-container button {
  width: 300px;
  height: 45px;
  background-color: #59abdb;
  color: white;
  border-radius: 7px;
  font-size: 1.4rem;
  border: 1px solid white;
  cursor: pointer;
}
.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.home h2 {
  margin-bottom: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
.home button {
  width: 300px;
  height: 45px;
  background-color: #59abdb;
  color: white;
  border-radius: 7px;
  margin: 30px 0;
  font-size: 1.4rem;
  border: 1px solid white;
}
.buildChart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buildChart button {
  width: 300px;
  height: 45px;
  background-color: #59abdb;
  color: white;
  border-radius: 7px;
  font-size: 1.4rem;
  border: 1px solid white;
  cursor: pointer;
}
.buildChart .radio-button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.buildChart .back-button-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 375px;
  margin-top: 20px;
}
.buildChart .back-button {
  width: 100px;
  margin-right: 36px;
  cursor: pointer;
}
.buildChart .input {
  width: 300px;
  height: 30px;
  font-size: 1.4rem;
  background-color: white;
  color: #59abdb;
  margin-bottom: 20px;
  text-align: center;
}
.buildChart .option {
  text-align: center;
}
.buildChart .input-container {
  margin-top: 50px;
}
.buildChart .radio-label {
  font-size: 1.4rem;
  margin: 0 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.buildChart .radio-button {
  font-size: 5rem;
  margin-bottom: 20px;
  cursor: pointer;
}
.buildChart .radio-div {
  width: 100px;
  display: flex;
}
.buildChart ::placeholder {
  color: #59abdb;
}
.buildChart .eligible-products-container {
  margin-top: 10px;
  width: 300px;
  text-align: center;
}
.buildChart .eligible-products-container p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 1.4rem;
  margin: 20px 0;
}
.buildChart .eligible-products-container li {
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
.buildChart .build-message {
  text-align: center;
}
.eligible-products-container-loading {
  display: flex;
  justify-content: center;
}
.med-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.med-list button {
  width: 300px;
  height: 45px;
  background-color: #59abdb;
  color: white;
  border-radius: 7px;
  font-size: 1.4rem;
  border: 1px solid white;
  cursor: pointer;
}
.med-list .back-button-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 375px;
  margin-top: 20px;
}
.med-list .back-button {
  width: 100px;
  margin-right: 36px;
  cursor: pointer;
}
.med-list .input-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.med-list .input {
  width: 300px;
  height: 30px;
  font-size: 1.4rem;
  background-color: white;
  color: #59abdb;
  margin-bottom: 20px;
  text-align: center;
}
.med-list ::placeholder {
  color: #59abdb;
}
.med-list .eligible-products-container {
  margin-top: 10px;
  width: 300px;
}
.med-list .eligible-products-container p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 1.1rem;
  margin: 20px 0;
}
.med-list .eligible-products-container ul {
  margin-top: 10px;
}
.med-list .eligible-products-container li {
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
.med-list .eligible-products-container .returned-data {
  margin-top: 35px;
}
.med-list .build-message {
  text-align: center;
}
.med-input {
  width: 300px;
  height: 30px;
  font-size: 1.4rem;
  background-color: white;
  color: #59abdb;
  margin-bottom: 20px;
  text-align: center;
}
.suggestions {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 40px;
}
.eligible-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex-direction: column;
}
.eligible-loading p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
.eligible-loading .loading {
  display: flex;
  justify-content: center;
}
.eligible-loading .build-message {
  margin-top: 10px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
}
.eligible-returned {
  width: 300px;
}
.eligible-returned p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 1.4rem;
  margin: 20px 0;
}
.eligible-returned li {
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
